[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
arrow = "*"
requests = "*"
gunicorn = "*"
dj-database-url = "*"
"psycopg2" = "*"
whitenoise = "*"
env-tools = "*"
redis = "*"
kombu = "*"
pyyaml = "*"
open-humans-api = "*"
tweepy = "*"
ipython = "*"
django-heroku = "*"

[dev-packages]
vcrpy = "*"
freezegun = "*"
coverage = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.6"
