<p>
    <a href="https:www.twitter.com">Twitter</a> is a social media website to which
    you can post tweets and like/share other tweets.
    Depending on how you use the site, this may include: Your own tweets,
    retweets you have made, tweets you have liked, images/videos you have shared,
    your location if you geo-tag your tweets.
    This website can be used to retrieve and store detailed information about your
    tweets and likes in
    your Open Humans account, in an ongoing manner. Once you add this data to
    Open Humans, you can choose to share or explore it!
</p>

<p>
    Check out <a href="https://www.openhumans.org/activity/twitter-api-integration/">this project's activity page</a>
    to see how notebooks, projects, and members are using & sharing this data.
    (Once connected, you can also find your data on this page!)
</p>

<p>
    This site is managed by
    <a href="https://www.openhumans.org">Open Humans</a> and follows the same
    <a href="https://www.openhumans.org/terms">terms of use</a>.
    Data stored in Open Humans is private by default: it's your personal archive
    and always available to you, and you choose when to share with others.
</p>
