{% extends 'main/base.html' %}
{% load static %}

{% block main %}
<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col" style="text-align: center;">
        <img class="img-fluid oh-cnxn-icon" src="{% static 'img/logo.png' %}">
      </div>
      <div class="col-md-9 col-lg-10">
        <h1>Open&nbsp;Humans&nbsp;/ Twitter&nbsp;API Connection</h1>
        <p>
          Twitter collects data about your own tweets, images, videos, and more.
          You can use this website to retrieve and store detailed data on your
          tweets & likes in your Open Humans account.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 offset-md-3 col-lg-10 offset-lg-2">
        <a href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code" class="btn btn-primary">
          Log in via Open Humans
        </a>
      </div>
    </div>
  </div>
</div>

{% include 'main/partials/about-1.html' %}

{% endblock main %}
